[submodule "Atmosphere-libs"]
	path = lib/Atmosphere-libs
	url = https://github.com/Switch-Bros/Atmosphere-libs.git
[submodule "libnx"]
	path = lib/libnx
	url = https://github.com/Switch-Bros/libnx.git
